<%- include('../includes/head.ejs') %>
    <section class="vh-100" style="background-color: #508bfc">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem">
                        <% if(errorMessage[0]){ %>
                            <div class="alert alert-danger text-center" role="alert">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                                <% if(successMessage[0]){ %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <%= successMessage[0] %>
                                    </div>
                                    <% } %>
                                        <div class="card-body p-5 text-center">
                                            <h3 class="mb-5">ورود</h3>

                                            <form action="/login" method="post" novalidate>

                                                <div class="form-outline mb-4">
                                                    <input type="email" name="email" id="typeEmailX-2"
                                                        class="form-control form-control-lg <%= validationError.find(e => e.path ==='email' ) ? 'border border-danger' : '' %>" style="direction: rtl;"
                                                        placeholder="نام کاربری یا ایمیل خود را وارد کنید">
                                                </div>

                                                <div class="form-outline mb-4">
                                                    <input type="password" name="password" id="typePasswordX-2"
                                                        class="form-control form-control-lg <%= validationError.find(e => e.path ==='password' ) ? 'border border-danger' : '' %>"
                                                        placeholder="رمز عبور را وارد کنید">
                                                </div>

                                                <button class="btn btn-primary btn-lg btn-block w-100" type="submit">
                                                    ورود </button>

                                            </form>
                                            <div>
                                                <hr>
                                                <a href="/signup">ایا حساب ندارید؟ ثبت تام کنید</a>
                                                <br>
                                                <a href="/resetpass"> فراموشی رمز عبور </a>
                                            </div>


                                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/end.ejs') %>